<div>
    <strong class="drop-down-banner-label">Hosts:</strong>
    <ul class="list-inline">
        <li>
            <strong>total</strong>
            <span class="html_refresh badge" id="total_hosts">{{total_hosts}}</span>
        </li>
        <li>
            <strong>locked</strong>
            <span class="html_refresh badge" id="locked_hosts">{{locked_hosts}}</span>
        </li>
        <li>
            <strong>unlocked</strong>
            <span class="html_refresh badge" id="unlocked_hosts">{{unlocked_hosts}}</span>
        </li>
        <li>
            <strong>enabled</strong>
            <span class="html_refresh badge" id="enabled_hosts">{{enabled_hosts}}</span>
        </li>
        <li>
            <strong>disabled</strong>
            <span class="html_refresh badge" id="disabled_hosts">{{disabled_hosts}}</span>
        </li>
        <li>
            <strong>failed</strong>
            <span class="html_refresh badge" id="failed_hosts">{{failed_hosts}}</span>
        </li>
        <li>
            <strong>offline</strong>
            <span class="html_refresh badge" id="offline_hosts">{{offline_hosts}}</span>
        </li>
        <li>
            <strong>locking</strong>
            <span class="html_refresh badge" id="locking_hosts">{{locking_hosts}}</span>
        </li>
        <li>
            <strong>unlocking</strong>
            <span class="html_refresh badge" id="unlocking_hosts">{{unlocking_hosts}}</span>
        </li>
    </ul>
</div>

<div>
    <strong class="drop-down-banner-label">Instances: </strong>
    <ul class="list-inline">
        <li>
            <strong>total</strong>
            <span class="html_refresh badge" id="total_instances">{{total_instances}}</span>
        </li>
        <li>
            <strong>locked</strong>
            <span class="html_refresh badge" id="locked_instances">{{locked_instances}}</span>
        </li>
        <li>
            <strong>unlocked</strong>
            <span class="html_refresh badge" id="unlocked_instances">{{unlocked_instances}}</span>
        </li>
        <li>
            <strong>enabled</strong>
            <span class="html_refresh badge" id="enabled_instances">{{enabled_instances}}</span>
        </li>
        <li>
            <strong>disabled</strong>
            <span class="html_refresh badge" id="disabled_instances">{{disabled_instances}}</span>
        </li>
        <li>
            <strong>failed</strong>
            <span class="html_refresh badge" id="failed_instances">{{failed_instances}}</span>
        </li>
        <li>
            <strong>powering-off</strong>
            <span class="html_refresh badge" id="powering_off_instances">{{powering_off_instances}}</span>
        </li>

        <li>
            <strong>pausing</strong>
            <span class="html_refresh badge" id="pausing_instances">{{pausing_instances}}</span>
        </li>
        <li>
            <strong>paused</strong>
            <span class="html_refresh badge" id="paused_instances">{{paused_instances}}</span>
        </li>
        <li>
            <strong>suspending</strong>
            <span class="html_refresh badge" id="suspending_instances">{{suspending_instances}}</span>
        </li>
        <li>
            <strong>suspended</strong>
            <span class="html_refresh badge" id="suspended_instances">{{suspended_instances}}</span>
        </li>
        <li>
            <strong>resizing</strong>
            <span class="html_refresh badge" id="resizing_instances">{{resizing_instances}}</span>
        </li>
        <li>
            <strong>rebooting</strong>
            <span class="html_refresh badge" id="rebooting_instances">{{rebooting_instances}}</span>
        </li>
        <li>
            <strong>rebuilding</strong>
            <span class="html_refresh badge" id="rebuilding_instances">{{rebuilding_instances}}</span>
        </li>
        <li>
            <strong>migrating</strong>
            <span class="html_refresh badge" id="migrating_instances">{{migrating_instances}}</span>
        </li>
        <li>
            <strong>deleting</strong>
            <span class="html_refresh badge" id="deleting_instances">{{deleting_instances}}</span>
        </li>
    </ul>
</div>
