
<div class="tab-headers">
    <ul id="hypervisors" class="nav nav-tabs" data-sticky-tabs="sticky">
        <li class="active">
            <a><h4>Hypervisors</h4></a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active">
        <table class="table table-bordered table-striped main-table" id="hypervisors">
            <thead>
                <tr>
                    <th class="sortable normal_column">UUID</th>
                    <th class="sortable normal_column">Administrative-State</th>
                    <th class="sortable normal_column">Operational-State</th>
                    <th class="sortable normal_column">Host Name</th>
                    <th class="sortable normal_column">VCPUs (used)</th>
                    <th class="sortable normal_column">VCPUs (total)</th>
                    <th class="sortable normal_column">Memory (used)</th>
                    <th class="sortable normal_column">Memory (free)</th>
                    <th class="sortable normal_column">Memory (total)</th>
                    <th class="sortable normal_column">Disk (used)</th>
                    <th class="sortable normal_column">Disk (total)</th>
                    <th class="sortable normal_column">Running Instances (total)</th>
                </tr>
            </thead>
            <tbody>
            {{#hypervisors}}
            <tr>
                <td class="html_refresh" id="hypervisor_{{uuid}}_uuid">{{uuid}}</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_admin_state">{{admin_state}}</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_oper_state">{{oper_state}}</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_host_name">{{host_name}}</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_vcpus_used">{{vcpus_used}}</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_vcpus_max">{{vcpus_max}}</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_mem_used_mb">{{mem_used_mb}}MB</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_mem_free_mb">{{mem_free_mb}}MB</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_mem_max_mb">{{mem_max_mb}}MB</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_disk_used_gb">{{disk_used_gb}}GB</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_disk_max_gb">{{disk_max_gb}}GB</td>
                <td class="html_refresh" id="hypervisor_{{uuid}}_running_instances">{{running_instances}}</td>
            </tr>
            {{/hypervisors}}
            <tfoot>
                <tr>
                    <td colspan="12">
                        {{#ifCompare hypervisors.length '==' '1'}}
                            <span class="table_count">Displaying {{hypervisors.length}} item</span>
                        {{else}}
                            <span class="table_count">Displaying {{hypervisors.length}} items</span>
                        {{/ifCompare}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
