
<div class="tab-headers">
    <ul id="images" class="nav nav-tabs" data-sticky-tabs="sticky">
        <li class="active">
            <a><h4>Images</h4></a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active">
        <div class='table-header' colspan='8'>
            <h3 class='table-title'>Uploaded Images</h3>
            <div class="table-actions clearfix">
                <a href="javascript:void(0)" title="Upload Image"
                 class="btn btn-default btn-sm"
                 data-toggle="modal" data-target="#UploadImageModal">
                    <span class="glyphicon glyphicon-plus"></span>
                    Upload Image
                </a>
                <a href="javascript:void(0)" title="Delete Images"
                 class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                    Delete Images
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped main-table" id="images">
            <thead>
                <tr>
                    <th class="sortable normal_column">UUID</th>
                    <th class="sortable normal_column">Name</th>
                    <!-- <th class="sortable normal_column">Description</th> -->
                    <th class="sortable normal_column">Container-Format</th>
                    <th class="sortable normal_column">Disk-Format</th>
                    <th class="sortable normal_column">Minimum Disk Size</th>
                    <th class="sortable normal_column">Minimum Memory Size</th>
                    <th class="sortable normal_column">Visibility</th>
                    <th class="sortable normal_column">Protected</th>
                    <th class="sortable normal_column">Availability-Status</th>
                    <th class="sortable normal_column">Action</th>
                    <!-- <th>Actions</th> -->
                </tr>
            </thead>
            <tbody>
            {{#images}}
            <tr class="fluid">
                <td class="html_refresh" id="image_{{uuid}}_uuid">{{uuid}}</td>
                <td class="html_refresh" id="image_{{uuid}}_name">{{name}}</td>
                <!-- <td class="html_refresh" id="image_{{uuid}}_description">{{description}}</td> -->
                <td class="html_refresh" id="image_{{uuid}}_container_format">{{container_format}}</td>
                <td class="html_refresh" id="image_{{uuid}}_disk_format">{{disk_format}}</td>
                <td class="html_refresh" id="image_{{uuid}}_min_disk_size_gb">{{min_disk_size_gb}}GB</td>
                <td class="html_refresh" id="image_{{uuid}}_min_memory_size_mb">{{min_memory_size_mb}}MB</td>
                <td class="html_refresh" id="image_{{uuid}}_visibility">{{visibility}}</td>
                <td class="html_refresh" id="image_{{uuid}}_protected">{{protected}}</td>
                <td class="html_refresh" id="image_{{uuid}}_avail_status">{{avail_status}}</td>
                <td class="html_refresh" id="image_{{uuid}}_action">{{action}}</td>
                <!--
                <td>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Actions<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu row_actions clearfix">
                            <li class="clearfix">
                                <a href="javascript:void(0)">Update</a>
                            </li>
                            <li class="clearfix">
                                <a href="javascript:void(0)">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
                -->
            </tr>
            {{/images}}
            <tfoot>
                <tr>
                    <td colspan="11">
                        {{#ifCompare images.length '==' '1'}}
                            <span class="table_count">Displaying {{images.length}} item</span>
                        {{else}}
                            <span class="table_count">Displaying {{images.length}} items</span>
                        {{/ifCompare}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="modal hide fade" id="UploadImageModal" tabindex="-1" role="dialog"
 aria-labelledby="UploadImageModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="upload-image-title">Upload Image</h4>
            </div>
            <div class="modal-body">
                Name:<br>
                <input type="text" name="image_name">
                <br><br>
                Description:<br>
                <input type="text" name="image_description">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Upload</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>