<div class="tab-headers">
    <ul id="subnets" class="nav nav-tabs" data-sticky-tabs="sticky">
        <li class="active">
            <a><h4>Subnets</h4></a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active">
        <table class="table table-bordered table-striped main-table" id="subnets">
            <thead>
                <tr>
                    <th class="sortable normal_column">UUID</th>
                    <th class="sortable normal_column">Name</th>
                    <th class="sortable normal_column">IP Version</th>
                    <th class="sortable normal_column">Subnet</th>
                    <th class="sortable normal_column">Gateway ip</th>
                    <th class="sortable normal_column">Is DHCP Enabled</th>
                    <th class="sortable normal_column">Network UUID</th>
                </tr>
            </thead>
            <tbody>
            {{#subnets}}
            <tr>
                <td class="html_refresh" id="subnet_{{uuid}}_uuid">{{uuid}}</td>
                <td class="html_refresh" id="subnet_{{uuid}}_name">{{name}}</td>
                <td class="html_refresh" id="subnet_{{uuid}}_ip_version">{{ip_version}}</td>
                <td class="html_refresh" id="subnet_{{uuid}}_subnet">{{subnet_ip}}/{{subnet_prefix}}</td>
                <td class="html_refresh" id="subnet_{{uuid}}_gateway_ip">{{gateway_ip}}</td>
                <td class="html_refresh" id="subnet_{{uuid}}_is_dhcp_enabled">{{is_dhcp_enabled}}</td>
                <td class="html_refresh" id="subnet_{{uuid}}_network_uuid">{{network_uuid}}</td>
            </tr>
            {{/subnets}}
            <tfoot>
                <tr>
                    <td colspan="7">
                        {{#ifCompare subnets.length '==' '1'}}
                            <span class="table_count">Displaying {{subnets.length}} item</span>
                        {{else}}
                            <span class="table_count">Displaying {{subnets.length}} items</span>
                        {{/ifCompare}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>