
<div class="tab-headers">
    <ul id="Volumes" class="nav nav-tabs" data-sticky-tabs="sticky">
        <li class="active">
            <a><h4>Volumes</h4></a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active">
        <table class="table table-bordered table-striped main-table" id="volumes">
            <thead>
                <tr>
                    <th class="sortable normal_column">UUID</th>
                    <th class="sortable normal_column">Name</th>
                    <th class="sortable normal_column">Description</th>
                    <th class="sortable normal_column">Size</th>
                    <th class="sortable normal_column">Bootable</th>
                    <th class="sortable normal_column">Encrypted</th>
                    <th class="sortable normal_column">Image UUID</th>
                    <th class="sortable normal_column">Availability-Status</th>
                    <th class="sortable normal_column">Action</th>
                </tr>
            </thead>
            <tbody>
            {{#volumes}}
            <tr class="fluid">
                <td class="html_refresh" id="volume_{{uuid}}_uuid">{{uuid}}</td>
                <td class="html_refresh" id="volume_{{uuid}}_name">{{name}}</td>
                <td class="html_refresh" id="volume_{{uuid}}_description">{{description}}</td>
                <td class="html_refresh" id="volume_{{uuid}}_size">{{size_gb}}GB</td>
                <td class="html_refresh" id="volume_{{uuid}}_bootable">{{bootable}}</td>
                <td class="html_refresh" id="volume_{{uuid}}_encrypted">{{encrypted}}</td>
                <td class="html_refresh" id="volume_{{uuid}}_image_uuid">{{image_uuid}}</td>
                <td class="html_refresh" id="volume_{{uuid}}_avail_status">{{avail_status}}</td>
                <td class="html_refresh" id="volume_{{uuid}}_action">{{action}}</td>
            </tr>
            {{/volumes}}
            <tfoot>
                <tr>
                    <td colspan="9">
                        {{#ifCompare volumes.length '==' '1'}}
                            <span class="table_count">Displaying {{volumes.length}} item</span>
                        {{else}}
                            <span class="table_count">Displaying {{volumes.length}} items</span>
                        {{/ifCompare}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>